[Unit]
Description=Snowblossom Miner - testnet
After=network.target

[Service]
WorkingDirectory=/var/snowblossom
ExecStart=/var/snowblossom/source/snowblossom/bazel-bin/SnowBlossomMiner configs/miner-testnet.conf
User=snowblossom

[Install]
WantedBy=multi-user.target
