[Unit]
Description=Snowblossom Miner - mainnet
After=network.target

[Service]
WorkingDirectory=/var/snowblossom
ExecStart=/var/snowblossom/source/snowblossom/bazel-bin/SnowBlossomMiner configs/miner-mainnet.conf
User=snowblossom

[Install]
WantedBy=multi-user.target
