[Unit]
Description=Snowblossom Node - testnet
After=network.target

[Service]
WorkingDirectory=/var/snowblossom
ExecStart=/var/snowblossom/source/snowblossom/bazel-bin/SnowBlossomNode configs/snowblossom-node-testnet.conf
User=snowblossom

[Install]
WantedBy=multi-user.target
