[Unit]
Description=Snowblossom Miner
After=network.target

[Service]
User=snowblossom
WorkingDirectory=/var/snowblossom
ExecStart=/var/snowblossom/pool-miner.sh

[Install]
WantedBy=multi-user.target
