[Unit]
Description=Snowblossom Node
After=network.target

[Service]
User=snowblossom
WorkingDirectory=/var/snowblossom
ExecStart=/var/snowblossom/source/bazel-bin/MrPlow configs/pool.conf

[Install]
WantedBy=multi-user.target
