[Unit]
Description=Snowblossom Node
After=network.target

[Service]
User=snowblossom
WorkingDirectory=/var/snowblossom
ExecStart=/var/snowblossom/node.sh

[Install]
WantedBy=multi-user.target
